<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<head>

<body>
<br>
Hello {{request.user}}

<br>
<br>
<ul class="list-group">
{% for x in list %}
<li class="list-group-item d-flex justify-content-between">
{{x.quiz_name}}
<button class="btn-success" onclick="location.href='/analytics/{{x.id}}/';">See Analytics</button>
<br>
</li>
{% endfor %}
</ul>
<body>
<html>
<scirpt>
</script>