<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
.top{
  width:50%;
  margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
</style>
</head>
<body>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Question</th>
      <th scope="col">Your Responses</th>
      <th scope="col">Correct Responses</th>
    </tr>
  </thead>
  <tbody>
  {% load index %}
  {% for x in questions%}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{x|safe}}</td>
      <td>{{user_res|index:forloop.counter0|safe}}</td>
      <td>{{correct_res|index:forloop.counter0|safe}}</td>

    </tr>
    {% endfor %}
  </tbody>
</table>
</body>
</html>
<script>

</script>