<html>
<head>
<head>

<body>
<br>
Hello {{request.user}}
<br>
<br>
{% for x in list %}
{{x.question.question_text}}

Options:- 

{% for op in x.options%}
{{op.options}}
{% endfor %}

Correct Options:-
{% for op in x.correct_options%}
{{op.options}}
{% endfor %}
<br>
{% endfor %}
<button onclick="createquestions()">Add Questions</button>
<div>
<ol  id="questions_list">
</ol>
</div>
<body>
<html>
<script>
function createquestions(){
   // alert("ok");
    var d=document.createElement('div')
    d.className="question"
    var text=document.createElement('textarea')
    var opt=document.createElement('ol')
    opt.class="options"
    text.style.height="200px"
    text.style.width="30%"
    text.style.fontSize="10pt";
    var button1=document.createElement("button")
    var button2=document.createElement("button")
    button.innerHTML="Add Options"
    button2.innerHTML="Submit"
    d.appendChild(text)
    d.appendChild(opt)
    d.appendChild(button1)
    var list=document.getElementById("questions_list")
    var elem=document.createElement("LI");
    elem.appendChild(d);
    list.appendChild(elem);
    button1.addEventListener("click",function(e){
       var sel= d.getElementsByTagName("ol")
       var elem=document.createElement("li");
       var text=document.createElement('textarea');
        text.style.height="50px"
        text.style.width="20%"
        elem.appendChild(text)
        sel[0].appendChild(elem)

    })
}


</script>