<html>
	<head>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
			crossorigin="anonymous"
		/>
		<style>
			body {
				overflow: hidden;
			}
			div {
				height: 100%;
				margin-top: 50px;
			}
		</style>
	</head>
	<body>
		<div class="jumbotron text-center">
			<h1 class="display-3">Thank You!</h1>
			<p class="lead">
				<strong>Your Quiz has ended</strong><br />For further queries, contact
				the organizer
			</p>

			{% if show == True %}
			<h3>Your Score is {{score}}</h3>
			{% endif %}
			<hr />
			<p>Having trouble? <a href="">Contact us</a></p>
			<p class="lead">
				<a class="btn btn-primary btn-sm" href="/create/" role="button"
					>Continue to homepage</a
				>
			</p>
		</div>
	</body>
</html>
