{% extends "base.html"%}
{% block all%}
<div id="all">
<div class="btn-container">
<button class="btn" onclick="toggle()" id="toggler">Give Quiz</button>
    </div>
<br>
<div id="form" style="display: none">
<input class="form-control" placeholder="Enter Quiz Code" id="quiz-code"></input>
<br>
<button class="btn" onclick="checkAndRedirect()">Submit</button>
</div>
<div class="margin" style="margin-top: 10%;">
    <a href="https://www.instagram.com/_crazy__anyone/?hl=en" class="fa fa-instagram" ></a>
    <a href="https://github.com/aryan29/" class="fa fa-github" ></a>
     <a href="https://www.linkedin.com/in/aryan-khandelwal-467339178/" class="fa fa-linkedin"  ></a>
    </div>
 <span class="text-muted footer-text">Made by Aryan Khandelwal</span>


{% endblock %}

{% block scripts%}
function checkAndRedirect(){
    let val=document.getElementById("quiz-code").value;
$.ajax({
    type:"post",
    url:"/checkValid/",
    headers: {
        "X-CSRFToken": '{{ csrf_token }}'
                },
    data:{
        "quiz_no":val
    },
    
    success:function(res){
        if(res==200)
        {
            //Quiz Exist
            window.location="/quiz/"+val;
        }
        else{
            //Quiz doesnt exist
            Swal.fire("No Such Quiz Exist")
        }
    }
});
}
{% endblock %}