<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<style>
.question-text{
    font-size:20px
}
.option{
    font-size:15px;
    margin-top:5px
}
</style>
</head>
<body>
{% csrf_token %}
<span class="badge badge-info question-text" id="question_text">{{question_text}}</span>
<br>

<br>
<br>
<div id="all_options">
{% for x in options%}
<div class="option">
<h3 class='badge badge-warning'>{{x}}</h3>
<input type="checkbox" class="check_box"/>
</div>
{% endfor %}
</div>
<div id="timer">
<p id="demo"></p>
</div>
<button onclick="get_next_question()">Next</button>
</body>
</html>
<script>
var countDownDate = "{{end_time}}"*1000//To get international standard time
  console.log(countDownDate)
var x = setInterval(function() {
  var now = new Date().getTime();
  var distance = countDownDate - now;
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);
  document.getElementById("demo").innerHTML = days + "d " + hours + "h "
  + minutes + "m " + seconds + "s ";
  if (distance < 0) {
    clearInterval(x);
    location.reload();
  }
}, 1000);
function get_next_question(){
var x=document.getElementsByClassName("option")
li=[]
for(let i=0;i<x.length;i++)
{
    //console.log(x[i].getElementsByClassName("check_box")[0])
    if(x[i].getElementsByClassName("check_box")[0].checked==true)
    {
        console.log(x[i])
        li.push(x[i].getElementsByTagName("h3")[0].textContent)
    }
}
//Send this question reponse to the server
$.ajax({
    type:'POST',
    url:"",
    data:{
        csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
        "response":li
    },
    success:function(res){
        if(res=="500")
            location.reload();
        else
        {
        console.log("Data Successfully posted")
        console.log(res)
        document.getElementById("question_text").innerText=res['question']
        var z=document.getElementById("all_options");
        z.innerHTML="";
        for(let i=0;i<res['options'].length;i++)
        {
            let d=document.createElement("div");
            d.className="option";
            let opt=document.createElement("h3");
            opt.innerText=res['options'][i];
            opt.className="badge badge-warning";
            let ch=document.createElement("input");
            ch.type="checkbox";
            ch.className="check_box";
            d.appendChild(opt);
            d.appendChild(ch);
            z.appendChild(d);
        }
        }
    },
    failure:function(res){
        alert("Something went wrong try again")
    }
})
console.log(li);
}
</script>