      <html>
      <head>
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <style>
body {
  background-color: #F2F2F2;
  font-family: 'Arial';
  justify-content: center;
  padding: 4rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #6E6E6E;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #1849AB;
}
input:focus + .slider {
  box-shadow: 0 0 0 4px rgba(21, 156, 228, 0.7);
  outline: none;
}
input:checked + .slider:before {
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
table{
    position:relative;
    width:100%;
    height:90%;
    top:0;
    left:0;
}
#saving{
    float:right;
    padding:20px;
    right:70px;
}
        .table-striped table-hover{
            margin-top: 5%;
        }
@media only screen and (max-width: 600px) {
    .savings{
        display: none;
         }
     .table-striped table-hover
    {
        margin-top: 5%;
    }
        }
        #instructions{
          height:200px
        }
        #timings{
          margin-top:20px;
        }
    
    </style>
      </head>
      <body>
    <h3 style="align-content: center;display: inline-block;text-decoration: underline;">Quiz Settings</h3>

  <div id="saving" class="savings"><button onclick="update()" class="btn btn-success">Save</button></div>
  <div id="timings">
  <p>Start Time <input type="datetime-local" id="start_time" name="start_time"></p>
  <br/>
  <p>End Time <input type="datetime-local" id="end_time" name="end_time"></p> 
  </div>
  <textarea class="form-control" placeholder="Instructions" id="instructions">{{quiz.quiz_instructions}}</textarea>
  <table class="table table-hover" style="margin-top: 5%;">
    <thead>
      <tr>
        <th>Setting</th>
        <th>Switch</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Randomizer</td>
        <td>
        <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
        </td>
      </tr>
      <tr style="display:none">
        <td>One question per page</td>
        <td>
        <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
        </td>
      </tr>
      <tr style="display:none">
        <td>Resume Later</td>
        <td>
        <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
        </td>
      </tr>
      <tr>
        <td>Email Result to Creator</td>
        <td>
        <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
        </td>
      </tr>
      <tr>
        <td>Email Result to Test Taker</td>
        <td>
        <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
        </td>
      </tr>
      <tr>
        <td>Show Score After test is over</td>
        <td>
        <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
        </td>
      </tr>
      <tr style="display:none">
        <td>Reveal Correct Answers after test</td>
        <td>
        <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
        </td>
      </tr>
    <tr style="display:none">
        <td>Can be viewed after it is over</td>
        <td>
        <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
        </td>
      </tr>
        <tr>
        <td>Strict Mode</td>
        <td>
        <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
        </td>
      </tr>
        <tr>
        <td>Switch On Camera before test</td>
        <td>
        <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
        </td>
      </tr>
        <tr>
        <td>Record Reponses</td>
        <td>
        <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
        </td>
      </tr>
    </tbody>

  </table>
  <div id="saving"><button onclick="update()" class="btn btn-success">Save</button></div>
</body>

</html>
<script>
console.log("{{quiz.strict_mode|yesno:'true,false'}}");
let li=document.getElementsByTagName("table")[0].getElementsByTagName("tbody")[0].getElementsByTagName("tr");
console.log("{{quiz.strict_mode}}");
li[0].getElementsByTagName("label")[0].getElementsByTagName("input")[0].checked={{quiz.randomizer|yesno:'true,false'}};
li[1].getElementsByTagName("label")[0].getElementsByTagName("input")[0].checked={{quiz.one_question_per_page|yesno:'true,false'}};
li[2].getElementsByTagName("label")[0].getElementsByTagName("input")[0].checked={{quiz.resume_later|yesno:'true,false'}};
li[3].getElementsByTagName("label")[0].getElementsByTagName("input")[0].checked={{quiz.email_result_creator|yesno:'true,false'}};
li[4].getElementsByTagName("label")[0].getElementsByTagName("input")[0].checked={{quiz.email_result_testtaker|yesno:'true,false'}};
li[5].getElementsByTagName("label")[0].getElementsByTagName("input")[0].checked={{quiz.show_score_after_test|yesno:'true,false'}};
li[6].getElementsByTagName("label")[0].getElementsByTagName("input")[0].checked={{quiz.reveal_answers_after_test|yesno:'true,false'}};
li[7].getElementsByTagName("label")[0].getElementsByTagName("input")[0].checked={{quiz.view_after_test|yesno:'true,false'}};
li[8].getElementsByTagName("label")[0].getElementsByTagName("input")[0].checked={{quiz.strict_mode|yesno:'true,false'}};
li[9].getElementsByTagName("label")[0].getElementsByTagName("input")[0].checked={{quiz.camera_mode|yesno:'true,false'}};
li[10].getElementsByTagName("label")[0].getElementsByTagName("input")[0].checked={{quiz.record_responses|yesno:'true,false'}};

function update(){
l1=[]
let l=document.getElementsByTagName("table")[0].getElementsByTagName("tbody")[0].getElementsByTagName("tr");
for(let i=0;i<l.length;i++)
{
    l1.push(li[i].getElementsByTagName("label")[0].getElementsByTagName("input")[0].checked);
}
l1.push(document.getElementById("instructions").value)//Instructions of quiz
l1.push(document.getElementById("start_time").value);
l1.push(document.getElementById("end_time").value);
console.log(document.getElementById("end_time").value);
$.ajax({
    type:"POST",
    url:"",
    headers: {
    "X-CSRFToken": '{{ csrf_token }}'
        },
    data:{
        list:l1
    },
    success:function(res)
    {
        if(res==200)
        Swal.fire("Settings saved");
        else
        Swal.fire("Inavlid Settings");
    }
}) 
//Grab Values of whole settings and update them
}
window.addEventListener("load", function() {
    var now = new Date();
    var utcString = now.toISOString().substring(0,19);
    
    var year = parseInt("{{start.year}}")
    var month = parseInt("{{start.month}}")
    var day = parseInt("{{start.day}}")
    var hour =parseInt("{{start.hour}}")
    var minute = parseInt("{{start.minute}}")
    var second = parseInt("{{start.second}}")
    var localDatetime = year + "-" +
                      (month < 10 ? "0" + month.toString() : month) + "-" +
                      (day < 10 ? "0" + day.toString() : day) + "T" +
                      (hour < 10 ? "0" + hour.toString() : hour) + ":" +
                      (minute < 10 ? "0" + minute.toString() : minute) +
                      utcString.substring(16,19);
    datetimeField = document.getElementById("start_time");
    console.log(localDatetime);
    datetimeField.value = localDatetime;
    year = parseInt("{{end.year}}")
    month = parseInt("{{end.month}}")
    day = parseInt("{{end.day}}")
    hour =parseInt("{{end.hour}}")
    minute = parseInt("{{end.minute}}")
    second = parseInt("{{end.second}}")
    localDatetime = year + "-" +
                      (month < 10 ? "0" + month.toString() : month) + "-" +
                      (day < 10 ? "0" + day.toString() : day) + "T" +
                      (hour < 10 ? "0" + hour.toString() : hour) + ":" +
                      (minute < 10 ? "0" + minute.toString() : minute) +
                      utcString.substring(16,19);
    var datetimeField = document.getElementById("end_time");
    datetimeField.value = localDatetime;
});
</script>
